.app-background {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-black);
  background-image: linear-gradient(to left, var(--theme-gray), rgb(from var(--theme-primary) r g b / 25%));
  flex: 1;
  width: 100%;
}

p,
h2,
h1,
a,
label {
  font-family: Arial;
  color: var(--theme-white);
}

p {
  font-size: 12px;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: solid 3px var(--theme-primary);
  border-radius: var(--theme-round-edges);
  background-color: var(--theme-black);
  background-image: linear-gradient(to right, var(--theme-gray), rgb(from var(--theme-primary) r g b / 25%));
  margin-bottom: 10px;
  padding: 8px;
  color: var(--theme-white);
}

input:focus {
  outline: none;
}

button {
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: var(--theme-round-edges);
  background-color: var(--theme-primary);
  margin-bottom: 10px;
  padding: 8px;
  color: rgb(27, 27, 27);
  margin-bottom: 15px;
  transition: opacity 0.135s;
  cursor: pointer;
}
