 .contacts-window {
    background-color: black;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 10px;
    box-sizing: border-box;
}

.top-contact-bar {
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgb(67, 67, 67);
}

.contacts {
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(67, 67, 67);
}

.contact {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: left;
    color: inherit;
    font: inherit;
    box-shadow: 0 0 10px rgb(125, 125, 125);
}

.contact-heading {
    margin: 0px;
    font-weight: bold;
}

.contact-number,
.contact-name {
    font-size: 13px;
    color: rgb(88, 88, 88);
    margin: 2px;
}

.contact-picture-cont {
    margin-right: 10px;
}

.contact-picture {
    width: 50px;
    border-radius: 25px;
}

.add-contact-button-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-contact-button {
    border-radius: 25px;
    background-color: rgb(255, 123, 123);
    height: 50px;
    width: 50px;
    font-size: 30px;
    box-shadow: 0 0 10px rgb(125, 125, 125);
}